{% if user.is_authenticated %}

    Пользователь {{user.username}}

    <a href="{% url 'createtodos' %}">Создание задач</a>
    <a href="{% url 'currenttodos' %}">Мои задачи</a>
    <a href="{% url 'completedtodo' %}">Выполненное</a>

    <form method="POST" action="{% url 'logoutuser' %}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>

{% else %}

    <a href="{% url 'loginuser' %}">Войти</a>
    <a href="{% url 'signupuser' %}">Зарегестрироваться</a>

{% endif %}

<br>
<br>

{% block content %}{% endblock %}